table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}

.button-row-cadastro{
  margin-bottom: 20px;
}

.botao-cadastrar{
  position: absolute;
  left: 20px;

}

.botao-sorteio {
  position: absolute;
  right: 20px;

}

.mat-elevation-z8 {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
}
