<div class="container">
  <div class="divImg">
    <img src="../../../assets/img/fundoSobre.jpg" />

    <mat-card class="cardSobre">
      <h1>Sistema web para sorteio de amigo secreto.</h1>
      <h2>
        Para realizar o sorteio, você deve cadastrar as pessoas com o nome
        completo e um endereço de email válido. Em seguida, basta clicar no
        botão "Gerar Sorteio". Feito isso o sistema irá realizar o sorteio de
        nomes e enviar um e-mail para cada pessoa com o nome de seu Amigo
        Secreto.
      </h2>
      <h4>
        Amigo secreto é uma brincadeira bastante tradicional, que geralmente
        ocorre na época do Natal, e consiste em trocar presentes com outras
        pessoas, mas que estas não sabem quem lhes tirou e o que vão ganhar. O
        amigo secreto por ser divertido, se espalhou também para outras datas
        festivas, como o Reveillon e a Páscoa. A brincadeira consiste em que
        cada participante sorteia um nome, mas não deve contar para ninguém quem
        foi o sorteado. A graça da brincadeira é poder dar um presente inusitado
        para seu amigo secreto, uma vez que é geralmente feita entre amigos, mas
        tornou-se também um hábito bastante comum em empresas e nas famílias.
      </h4></mat-card>
  </div>
</div>

